<a href="https://colab.research.google.com/github/thxxx/datascience/blob/main/ExRSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 간단한 추천시스템 만들기

1. MovieLens 데이터셋 불러오기
2. MovieLens 데이터셋 중 학습셋과 평가셋 나누기
3. 간단한 추천 알고리즘 만들기(평점을 예측하고 평가는 RMSE로 한다)

## 필요한 라이브러리 정의 (Configuration)

In [ ]:
import os
from tqdm import tqdm # tqdm?
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split # 
from sklearn.metrics import mean_squared_error # metrices중 MSE
from scipy.sparse import csr_matrix # 이건 뭐지?

import warnings
warnings.filterwarnings("ignore")

## MovieLens 데이터셋 불러오기

* ratings.csv, movies.csv, tags.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Google drive는 경로 변경
path = '/content/drive/MyDrive/data/movielens/'
# 구글 코랩은 왼쪽의 폴더를 눌러서 꼭 드라이브 내에서 데이터를 넣은 경로 가져오기 :  / 도 붙이고

In [ ]:
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col='movieId', encoding='utf-8') # 실제 movieId는 꼭 1씩 증가하는게 아니기 때문에 index_col로 줘야한다.
# 아니면 인덱스 칼럼이랑 무비 아이디랑 차이가 많이 난다.
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')

In [ ]:
print(movies_df.head())

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
print(ratings_df.shape)
print(ratings_df.head())
# 항상 이렇게 중요한 데이터 살펴보는 과정 갖기

(100836, 4)
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### ratings 데이터 정보 확인하기

* 몇 명의 유저가 몇 개의 영화에 평점을 줬는지
* 각 유저가 어떤 영화에 평점을 줬는지 sparse matrix

In [ ]:
num_users = ratings_df['userId'].unique() # 유니크한 유저아이디 = 유저 수
num_movies = ratings_df['movieId'].unique()

print("총 유저 수: ", len(num_users))
print("총 영화 수: ", len(num_movies))

총 유저 수:  610
총 영화 수:  9724

* pandas dataframe의 pivot: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

In [ ]:
# pivot ratings into movie features
user_movie_matrix = ratings_df.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0) 
# pivoting을 하고나서 비어있는 값은 0으로 채워라. 라는 뜻

# convert dataframe of movie features to scipy sparse matrix
sparse_mat = csr_matrix(user_movie_matrix.values)

# csr_matrix를 통해서 하나의 페어로 만든다. (row, column)과 value가 나옴

In [ ]:
user_movie_matrix

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  ...  5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193583   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193585   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[9724 rows x 610 columns]

In [ ]:
print(sparse_mat)

  (0, 0)	4.0
  (0, 4)	4.0
  (0, 6)	4.5
  (0, 14)	2.5
  (0, 16)	4.5
  (0, 17)	3.5
  (0, 18)	4.0
  (0, 20)	3.5
  (0, 26)	3.0
  (0, 30)	5.0
  (0, 31)	3.0
  (0, 32)	3.0
  (0, 39)	5.0
  (0, 42)	5.0
  (0, 43)	3.0
  (0, 44)	4.0
  (0, 45)	5.0
  (0, 49)	3.0
  (0, 53)	3.0
  (0, 56)	5.0
  (0, 62)	5.0
  (0, 63)	4.0
  (0, 65)	4.0
  (0, 67)	2.5
  (0, 70)	5.0
  :	:
  (9700, 337)	2.5
  (9701, 337)	3.0
  (9702, 183)	4.0
  (9702, 247)	3.5
  (9703, 317)	2.5
  (9704, 209)	1.0
  (9705, 461)	2.5
  (9706, 49)	3.5
  (9707, 337)	1.5
  (9708, 337)	4.0
  (9709, 337)	1.0
  (9710, 337)	1.5
  (9711, 337)	1.0
  (9712, 337)	1.0
  (9713, 183)	4.5
  (9714, 183)	3.5
  (9715, 183)	3.0
  (9716, 183)	4.0
  (9717, 183)	4.0
  (9718, 183)	3.5
  (9719, 183)	4.0
  (9720, 183)	3.5
  (9721, 183)	3.5
  (9722, 183)	3.5
  (9723, 330)	4.0

In [ ]:
user_info_df = pd.DataFrame(
    data = 
    [sum(list(user_movie_matrix[int(x)].value_counts())[1:]) for x in user_movie_matrix.columns],
    index = 
    user_movie_matrix.columns, columns=['movies_rated']  )

# sum(list(user_movie_matrix[1].value_counts())[1:])

In [ ]:
user_info_df

        movies_rated
userId
1                232
2                 29
3                 39
4                216
5                 44
...              ...
606             1115
607              187
608              831
609               37
610             1302

[610 rows x 1 columns]

In [ ]:
movie_info_df = pd.DataFrame(
    data = 
    [sum(list(user_movie_matrix.loc[int(x)].value_counts())[1:]) for x in user_movie_matrix.index],
    index = 
    user_movie_matrix.index, columns=['users_rated']  )

In [ ]:
movie_info_df
# 당연히 한명밖에 평가안한 영화에 대한 정보는 신뢰도가 떨어질 수 밖에 없겠지?

         users_rated
movieId
1                215
2                110
3                 52
4                  7
5                 49
...              ...
193581             1
193583             1
193585             1
193587             1
193609             1

[9724 rows x 1 columns]

## MovieLens 데이터셋 중 학습셋과 평가셋 나누기

In [ ]:
train_df, test_df = train_test_split(ratings_df, test_size=0.2, random_state=1234)

In [ ]:
print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

### test set에는 존재하지만, train set에는 없는 영화 또는 사용자 비율

In [ ]:
ratings_df.head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [ ]:
# 집합 A - 집합 B => 집합 B에는 없고 집합 A에만 있는 item 
# 테스트 셋에만 포함되고 트레인 셋에 없는 영화가 있어버리면, 학습된 바가 없어서 시스템이 동작할 수가 없다!

# userId
print("사용자: ",len(list(set(test_df['userId'].unique()) - set(train_df['userId'].unique()))))

# movieId
print("영화: ", len(list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))))
print("test set의 전체 영화 수: ",  len(test_df['movieId'].unique()))

사용자:  0
영화:  786
test set의 전체 영화 수:  5171

In [ ]:
movies_not_included = list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))
print(sorted(movies_not_included)[:10])

not_included_df = test_df[test_df.movieId.isin(movies_not_included)].sort_values(by='movieId')
print(not_included_df.head(10))

print("train set에 없고, test set에만 있는 영화 데이터 수: ", not_included_df.shape)

[49, 117, 137, 178, 241, 320, 359, 478, 488, 495]
       userId  movieId  rating   timestamp
29386     202       49     3.0   974925453
97066     604      117     3.0   832080636
99501     609      137     3.0   847221054
27959     191      178     1.0   829760898
98493     607      241     4.0   964744490
96182     603      320     3.0   953925390
728         6      359     3.0   845556412
92825     599      478     2.5  1498515125
73214     474      488     3.0  1047569232
96218     603      495     5.0   953927108
train set에 없고, test set에만 있는 영화 데이터 수:  (852, 4)

## 간단한 추천알고리즘 만들기

1. 랜덤으로 평점 예측하기
2. 영화 평균 평점기반 예측하기
3. 사용자 평균 평점기반 예측하기
4. Rule기반 영화 랭킹 예측하기
    
* test에 있고, train에 없는 경우

### 랜덤으로 평점 예측하기

In [ ]:
# 0.5 - 5.0사이의 숫자를 예측해야할 평점 수 만큼 generate
ratings_range = np.arange(0.5, 5.5, step=0.5) # 아무 숫자나 예측을 해라
ratings_range

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [ ]:
import random
pred_random = [random.choice(ratings_range) for x in range(len(test_df))]
# test_df의 숫자만큼 ratings_range에서 아무 숫자나 가져와서 예측을 해보겠다.
pred_random[:10]

[3.0, 1.5, 5.0, 3.0, 2.5, 0.5, 5.0, 5.0, 1.5, 5.0]

In [ ]:
test_df['pred_ratings_random'] = pred_random
test_df

       userId  movieId  rating   timestamp  pred_ratings_random
99731     610     3527     5.0  1479545223                  3.0
97583     606     1250     3.5  1171376891                  1.5
38197     262      213     5.0   840310907                  5.0
11474      68    69406     3.0  1261622505                  3.0
34105     232     4728     3.0  1218166950                  2.5
...       ...      ...     ...         ...                  ...
41080     279      593     4.0  1506394242                  3.5
4897       31      780     4.0   850466616                  4.5
8023       56      410     3.0   835799188                  5.0
77467     483     2291     4.0  1415579167                  3.0
99662     610     1953     5.0  1493850274                  4.0

[20168 rows x 5 columns]

In [ ]:
# mse안에 y_true와 y_pred값을 준다. 아래처럼!
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_ratings_random'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

3.646011007536692 1.9094530650258708

# 1.9094530650258708는 -> 3점이라고 봤을 때 +- 1.9 사이에 실제 값이 존재한다는 뜻.

###  영화 평균 평점기반 예측하기

1. train set의 모든 영화에 대해서 평균 평점 구하기
2. test set 예측할 때, train set의 영화 평균 평점 활용하기. 만약 없다면, random으로 선택하기.

In [ ]:
train_movie_df = train_df.groupby('movieId').mean() # 무비 아이디 하나 당 전체의 평균을 구하겠다는 거죠?

print(train_movie_df.shape)
print(train_movie_df.head())

(8938, 3)
             userId    rating     timestamp
movieId
1        307.473373  3.893491  1.128439e+09
2        327.475610  3.396341  1.142893e+09
3        266.386364  3.454545  9.900434e+08
4        192.750000  2.250000  8.425133e+08
5        309.526316  3.039474  1.007415e+09

In [ ]:
train_movie_df.loc[3527]

userId       3.433542e+02
rating       3.604167e+00
timestamp    1.163072e+09
Name: 3527, dtype: float64

In [ ]:
def avg_rating_prediction(training_set, x):
    if x in training_set.index:
        pred_rating = training_set.loc[x]['rating']
    else:
        pred_rating = random.choice(ratings_range)
    return pred_rating

In [ ]:
test_df['pred_rating_movie'] = test_df['movieId'].apply(lambda x: avg_rating_prediction(train_movie_df, x))

test_df.head()

       userId  movieId  ...  pred_ratings_random  pred_rating_movie
99731     610     3527  ...                  3.0           3.604167
97583     606     1250  ...                  1.5           4.180556
38197     262      213  ...                  5.0           3.750000
11474      68    69406  ...                  3.0           3.571429
34105     232     4728  ...                  2.5           2.769231

[5 rows x 6 columns]

In [ ]:
mse = mean_squared_error(y_true=test_df['rating'].values, y_pred=test_df['pred_rating_movie'].values)
rmse = np.sqrt(mse)

print(mse, rmse) # 그래도 1.02로 좀 낮다.

1.0548098147274387 1.0270393442938

### 사용자 평균 평점기반 예측하기

1. train set의 모든 유저가 준 평균 평점
2. test set 예측할 때, 유저가 train set에서 준 평균 평점을 활용. 유저가 없을 경우 random 평점 적용

In [ ]:
train_user_df = train_df.groupby('userId').mean()

print(train_user_df.shape)
print(train_user_df.head())

(610, 3)
             movieId    rating     timestamp
userId
1        1891.168478  4.320652  9.649865e+08
2       70402.760000  3.940000  1.445715e+09
3        8394.733333  2.516667  1.306464e+09
4        1957.923077  3.631868  9.655941e+08
5         337.606061  3.636364  8.474351e+08

In [ ]:
test_df['pred_rating_user'] = test_df['userId'].apply(lambda x: avg_rating_prediction(train_user_df, x))

test_df.head()

       userId  movieId  ...  pred_rating_movie  pred_rating_user
99731     610     3527  ...           3.604167          3.678709
97583     606     1250  ...           4.180556          3.649718
38197     262      213  ...           3.750000          2.925000
11474      68    69406  ...           3.571429          3.229331
34105     232     4728  ...           2.769231          3.242268

[5 rows x 7 columns]

In [ ]:
mse = mean_squared_error(y_true=test_df['rating'].values, y_pred=test_df['pred_rating_user'].values)
rmse = np.sqrt(mse)
print(test_df['rating'])
print(test_df['rating'].values)
print(mse, rmse)

99731    5.0
97583    3.5
38197    5.0
11474    3.0
34105    3.0
        ...
41080    4.0
4897     4.0
8023     3.0
77467    4.0
99662    5.0
Name: rating, Length: 20168, dtype: float64
[5.  3.5 5.  ... 3.  4.  5. ]
0.8905889036428333 0.9437101798978504

### Rule 기반 영화 평점 예측하기

1. train set에 포함된 유저의 영화 평균 평점과 영화의 장르를 활용하여, 장르별 평균 평점 계산 -> test set의 영화 장르의 평균 평점으로 예측

In [ ]:
# create user_movie matrix by only using train_df
# 트레이닝 데이터만 사용해야 하기 때문에 피보팅을 트레인 df로 다시 한다.
train_user_movie_matrix = train_df.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0)

In [ ]:
train_user_movie_matrix

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        0.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  0.0  2.5  0.0  5.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193573   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193579   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[8938 rows x 610 columns]

In [ ]:
genres_df = movies_df['genres'].str.get_dummies(sep='|')
print(genres_df.shape)
# 일단 장르 그걸 만들고
genres_df = genres_df.loc[train_df.movieId.unique()] # 트레인에 있는 영화만 남긴다.
print(genres_df.shape)
genres_df.head()

(9742, 20)
(8938, 20)

         (no genres listed)  Action  Adventure  ...  Thriller  War  Western
movieId                                         ...
5943                      0       0          0  ...         0    0        0
2571                      0       1          0  ...         1    0        0
8958                      0       0          0  ...         0    0        0
2322                      0       1          0  ...         0    1        0
2959                      0       1          0  ...         1    0        0

[5 rows x 20 columns]

In [ ]:
# trainset에서 영화별 유저 평점 평균
train_movie_avg_ratings_df = train_user_movie_matrix.copy()
train_movie_avg_ratings_df = train_movie_avg_ratings_df.replace(0, np.NaN)
train_movie_avg_ratings_df = train_movie_avg_ratings_df.mean(axis = 1)

train_movie_avg_ratings_df.head()

movieId
1    3.893491
2    3.396341
3    3.454545
4    2.250000
5    3.039474
dtype: float64

In [ ]:
# 장르 평점을 구한다.
# genres_df에서 해당 장르가 포함된 모든 영화 index를 가져와서, 해당 영화의 유저 평균 평점의 평균을 구해서 장르 평균 평점으로 활용
genres_avg_ratings_df = pd.DataFrame(index=genres_df.columns, columns=['avg_ratings', 'zeros'])

for genre in genres_avg_ratings_df.index:
    genre_avg_rating = train_movie_avg_ratings_df.loc[genres_df[genres_df[genre].isin([1])].index].mean()
    genres_avg_ratings_df.loc[genre]['avg_ratings'] = genre_avg_rating
    genres_avg_ratings_df.loc[genre]['zeros'] = 1

genres_avg_ratings_df

                   avg_ratings zeros
(no genres listed)     3.33642     1
Action                 3.11085     1
Adventure              3.23072     1
Animation              3.49226     1
Children               3.10123     1
Comedy                 3.18148     1
Crime                  3.31359     1
Documentary            3.80103     1
Drama                  3.42909     1
Fantasy                3.24026     1
Film-Noir              3.72647     1
Horror                 2.91043     1
IMAX                   3.27575     1
Musical                3.28863     1
Mystery                3.34325     1
Romance                3.35426     1
Sci-Fi                 3.13082     1
Thriller                3.1733     1
War                    3.57132     1
Western                3.39769     1

In [ ]:
def get_genre_avg_ratings(x):
    genres_list = movies_df.loc[x]['genres'].split('|')
    rating = 0
    for genre in genres_list:
        rating += genres_avg_ratings_df.loc[genre]['avg_ratings']
    
    return rating / len(genres_list)

In [ ]:
tqdm.pandas()
test_df['pred_rating_genre'] = test_df['movieId'].progress_apply(lambda x: get_genre_avg_ratings(x))

100%|██████████| 20168/20168 [00:07<00:00, 2639.36it/s]

In [ ]:
test_df

       userId  movieId  ...  pred_rating_user  pred_rating_genre
99731     610     3527  ...          3.678709           3.138325
97583     606     1250  ...          3.649718           3.410377
38197     262      213  ...          2.925000           3.429093
11474      68    69406  ...          3.229331           3.267870
34105     232     4728  ...          3.242268           3.181480
...       ...      ...  ...               ...                ...
41080     279      593  ...          3.666667           3.132440
4897       31      780  ...          3.911765           3.161424
8023       56      410  ...          3.837838           3.174323
77467     483     2291  ...          3.598940           3.341203
99662     610     1953  ...          3.678709           3.199247

[20168 rows x 8 columns]

In [ ]:
mse = mean_squared_error(y_true=test_df['rating'].values, y_pred=test_df['pred_rating_genre'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.1251906030478547 1.0607500191128232

### Rule 기반 영화 평점 예측하기

2. user의 평균 영화 평점을 normalize해서 확인하기, 평점 측정 수, 표준편차 등 활용가능

In [ ]:
train_user_info_df = pd.DataFrame({
    'avg_ratings': train_df.groupby('userId')['rating'].mean(),
    'std_ratings': train_df.groupby('userId')['rating'].std(),
    'count_ratings': train_df.groupby('userId')['rating'].count()
})

train_user_info_df

        avg_ratings  std_ratings  count_ratings
userId
1          4.320652     0.836600            184
2          3.940000     0.820569             25
3          2.516667     2.127340             30
4          3.631868     1.317823            182
5          3.636364     1.084498             33
...             ...          ...            ...
606        3.649718     0.734887            885
607        3.772414     0.955574            145
608        3.145865     1.071503            665
609        3.275862     0.454859             29
610        3.678709     0.863712           1038

[610 rows x 3 columns]

In [ ]:
min_count = train_user_info_df['count_ratings'].min()
max_count = train_user_info_df['count_ratings'].max()
avg_count = train_user_info_df['count_ratings'].mean()

train_user_info_df['weights'] = train_user_info_df['count_ratings'].apply(lambda x: (x-avg_count)/(max_count-min_count))

In [ ]:
train_user_info_df

        avg_ratings  std_ratings  count_ratings   weights
userId
1          4.320652     0.836600            184  0.023995
2          3.940000     0.820569             25 -0.049718
3          2.516667     2.127340             30 -0.047400
4          3.631868     1.317823            182  0.023068
5          3.636364     1.084498             33 -0.046010
...             ...          ...            ...       ...
606        3.649718     0.734887            885  0.348983
607        3.772414     0.955574            145  0.005914
608        3.145865     1.071503            665  0.246990
609        3.275862     0.454859             29 -0.047864
610        3.678709     0.863712           1038  0.419915

[610 rows x 4 columns]

In [ ]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(train_user_info_df)
df_normalized = pd.DataFrame(np_scaled, columns = train_user_info_df.columns, index=train_user_info_df.index)
df_normalized

        avg_ratings  std_ratings  count_ratings   weights
userId
1          0.822227     0.393261       0.079740  0.079740
2          0.722617     0.385725       0.006027  0.006027
3          0.350156     1.000000       0.008345  0.008345
4          0.641984     0.619470       0.078813  0.078813
5          0.643161     0.509791       0.009736  0.009736
...             ...          ...            ...       ...
606        0.646655     0.345449       0.404729  0.404729
607        0.678762     0.449188       0.061660  0.061660
608        0.514806     0.503682       0.302735  0.302735
609        0.548824     0.213816       0.007881  0.007881
610        0.654242     0.406005       0.475661  0.475661

[610 rows x 4 columns]

In [ ]:
df_normalized['normalized_avg_ratings'] = df_normalized['avg_ratings'] * 5
df_normalized

        avg_ratings  std_ratings  ...   weights  normalized_avg_ratings
userId                            ...
1          0.822227     0.393261  ...  0.079740                4.111134
2          0.722617     0.385725  ...  0.006027                3.613084
3          0.350156     1.000000  ...  0.008345                1.750779
4          0.641984     0.619470  ...  0.078813                3.209921
5          0.643161     0.509791  ...  0.009736                3.215803
...             ...          ...  ...       ...                     ...
606        0.646655     0.345449  ...  0.404729                3.233275
607        0.678762     0.449188  ...  0.061660                3.393812
608        0.514806     0.503682  ...  0.302735                2.574029
609        0.548824     0.213816  ...  0.007881                2.744119
610        0.654242     0.406005  ...  0.475661                3.271208

[610 rows x 5 columns]

In [ ]:
test_df['pred_rating_normalized'] = test_df['userId'].apply(lambda x: df_normalized.loc[x]['normalized_avg_ratings'])
test_df

       userId  movieId  ...  pred_rating_genre  pred_rating_normalized
99731     610     3527  ...           3.138325                3.271208
97583     606     1250  ...           3.410377                3.233275
38197     262      213  ...           3.429093                2.285047
11474      68    69406  ...           3.267870                2.683236
34105     232     4728  ...           3.181480                2.700164
...       ...      ...  ...                ...                     ...
41080     279      593  ...           3.132440                3.255452
4897       31      780  ...           3.161424                3.576141
8023       56      410  ...           3.174323                3.479414
77467     483     2291  ...           3.341203                3.166837
99662     610     1953  ...           3.199247                3.271208

[20168 rows x 9 columns]

In [ ]:
mse = mean_squared_error(y_true=test_df['rating'].values, y_pred=test_df['pred_rating_normalized'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.120579096060227 1.05857408624065